@mixin margin($left) {
	margin: $left auto;
}

%flexHidden {
	display: none;
	align-items: center;
}

.counter {
	@include margin(20px);
	width: 50%;
	background-color: #d1f1e2;
	border: 3px solid white;
	border-radius: 20px;
	box-shadow: 5px 5px 10px #1c4237;
	font-size: 20px;
}

.beforeCount {
	width: 500px;
	@include margin(20px);
	display: flex;
	align-items: center;
	justify-content: space-between;
	select, input {
		background: rgba(255, 255, 255, 0.3);
		width: 150px;
		height: 30px;
		font-size: 20px;
		text-align: center;
	}
}

//div de saisie du temps dans un champ
.v2, {
	display: none;
}

//divs cachées qui serviront au fur et à mesure du jeu

//compteur en marche
.counting {
	@extend %flexHidden;
	flex-direction: column;
	justify-content: space-between;
	@include margin(20px);
}

.time {
	@include margin(10px);
}


//fin de jeu
.again {
	@extend %flexHidden;
	justify-content: center;
	@include margin(20px);
}

